/* The code below comes from http://home.math.au.dk/swann/index.html,
with a few minor changes. */

/* .title { text-align: left; font-size: 0%;} */
/* div.figure { float:left; } */

.title  { text-align: left;}
.todo   { font-family: monospace; color: red; }
.done   { color: green; }
.tag    { background-color: #000000; font-family: monospace;
          padding: 2px; font-size: 80%; font-weight: normal; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }
pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-R:before     { content: 'R'; }
pre.src-perl:before  { content: 'Perl'; }
pre.src-java:before  { content: 'Java'; }
pre.src-sql:before   { content: 'SQL'; }

table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.right  { text-align: center;  }
th.left   { text-align: center;   }
th.center { text-align: center; }
td.right  { text-align: right;  }
td.left   { text-align: left;   }
td.center { text-align: center; }
dt { font-weight: bold; }
.footpara:nth-child(2) { display: inline; }
.footpara { display: block; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: left; } /*was center*/
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }

body { background: #FFFFF8; color: #000000; max-width: 50em; margin: 1.5em; margin-left: auto; margin-right: auto; }

a:link, a:visited, a:active { text-decoration: none; }
a:link { color: #0000FF; }
a:visited { color: #000099; }
a:active { color: #660000; }

div#org-div-home-and-up { font-size: small; float: right; text-align: right;
			  white-space:nowrap; color: #000000;
			  background: #E0E0E0; padding: 2px; }

div#table-of-contents { background: #FFFFFF; color: #000000; padding: 1em; 
 			border: 1px solid #000000; float: right; font-size: small;  } 
div#table-of-contents h2 { margin-top: 0em; font-size: 110%; font-weight: bold; }
div#table-of-contents ul { padding-left: 1em; } 

h1 { text-align: left; }
/* h3 { font-style: italic; color: #555555; } */

div#postamble { font-size: small; border-top: 1px solid black; padding-top: 0.5em; margin-top: 1em; clear: both; }
div#postamble p { padding: 0em; margin: 0em; }

div.figure { margin: 0em; padding: 0em;}
